ion-card {
  max-width: 150px;
  max-height: 150px;
  margin: 20px auto;
  border-radius: 50%;
}

ion-title {
  text-align: center;
  margin-top: 10px;
}

ion-card-content {
  padding: 0;
}

ion-img {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

ion-button {
  position: absolute;
  top: 40%;
  right: 0;
}

ion-icon {
  width: 40px;
  height: 50px;
}